{% extends 'base.html' %} 
{% block header %} 
About Us
{% endblock %}

{% block subheader %}
Explore who we are and what we do
{% endblock %}


{% block content %}


<h2>{{ page_title }}</h2>
<p>
    Unga Bora Limited is a milling firm which operates in Uasin Gishu County. Unga Bora sifts and mill common maize flour in grades 1, 2 and 3. We have offices in Eldoret town, Bomet, Nakuru and Kitale. </p>
    
    <h2>Executive Leadership</h2>
    <p>Our executive leadership team oversees all the foundation's efforts. The committee meets regularly to ensure that all of our teams perform efficiently and to facilitate cross-functional connections.</p>
    <hr>

{% for member in company %}


<div class="row featurette">
    {% if loop.index % 2 !=0 %}
    <div class="col-md-7">
        <h5><a href="/about/{{ member.url }}"> {{ member.name}}</a></h5>
        <p>
            {{member.description}}
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source }}"></img>
    </div>
    {% else %}
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source }}"></img>
    </div>
    <div class="col-md-7">
        <h5><a href="/about/{{ member.url }}"> {{ member.name}}</a></h5>
        <p>
            {{member.description}}
        </p>
    </div>
    {% endif %}
</div>

{% if loop.index !=13 %}

<hr class="featurette-divider"> {% endif %} {% endfor %} {% endblock %}
