{% extends 'base.html' %} {% block header %} Unga Bora Limited {% endblock %} {%
block subheader %} Built for you {% endblock %} {% block content %}

<div class="py-4">
  <div class="container">
    <div class="post-preview">
      <a href="#py-4">
        <h2 class="post-title">Discover</h2>
        <h3 class="post-subtitle">
          When maize seeds are milled, the husks are removed and the middling is
          ground into flour. The husks are great source of fibre for supper
          cereals and animal feed, while the floor is used in many of many of
          the world's favourite foods; bread, pasta etc
        </h3>
      </a>
      <!-- <p class="post-meta">
        Posted by <a href="#">Start Bootstrap</a> on July 8, 2017
      </p> -->
    </div>
    <hr />

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Yellow flour from maize seeds.
          <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5">
        <img src="static/images/f1.png" alt="">
          <rect width="100%" height="100%" fill="#eee" />
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Brown flour.
          <span class="text-muted">Oh yeah, it’s that good. See for yourself.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/images/f2.png" alt="">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          And lastly, this one. <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5">
        <img src="static/images/f3.png" alt="">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->

    <!-- Pager -->
    <div class="clearfix">
      <a class="btn btn-primary float-right" href="{{ url_for('about') }}"
        >Learn More &rarr;</a
      >
    </div>
  </div>
</div>
{% endblock %}
